body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

h3 {
	margin-top: 10px;
}

#container {
	overflow: hidden;
}

#controls {
	background: rgba(0, 0, 0, .85);
	border-radius: 5px;
	color: #fff;
	left: 10px;
	position: fixed;
	top: 10px;
	width: 220px;
	z-index: 1000;
}

#controls input[type="checkbox"] {
	float:right;
}

.color-select {
	background: url(../images/select2.png);
	display: inline-block;
	height: 36px;
	margin-right: 14px;
	position: relative;
	width: 36px;
}

.color-select:hover {
	background: white;
	border-radius: 5px;
}

.color-select div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}

.control-set {
	margin-bottom: 10px;
	padding: 10px;
}

.control-set:last-child {
	margin-bottom: 0;
}

.control-set .btn {
	width: 100%;
}

.btn {
	text-transform: uppercase;
}

.btn:focus {
	outline: none !important;
}

.modal-footer .btn {
	width: 100%;
}